html,
body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

main {
    display: grid;
    height: 100%;
    width: 100%;
}

.app-container.mobile {
    grid-template-columns: auto auto;
}

.app-container.desktop {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #0B243B;
}

.mobile-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 10px;
    padding: 7vw;
}
.loading {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
    color: #555;
}

    .loading::after {
        content: "";
        display: block;
        margin: 10px auto;
        width: 40px;
        height: 40px;
        border: 4px solid #555;
        border-top: 4px solid transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



@media only screen and (min-width: 1140px) {
    html, body {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    main {
        width: auto;
        padding: 30px;
        grid-template-columns: auto;
        justify-content: center;
        height: 45vw;
    }

    .app-container.desktop {
        justify-content: center;
        align-items: center;
    }

    .desktop-layout {
        width: 75vw;
    }
}
